<a href="https://colab.research.google.com/github/HernanDarius/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-05-07 14:03:32--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.164.29
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.164.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  44.5MB/s    in 4.3s

2020-05-07 14:03:36 (45.4 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
import pandas as pd

In [0]:
order_train = pd.read_csv('order_products__train.csv')
order_prior=pd.read_csv('order_products__prior.csv')
products=pd.read_csv('products.csv')

In [0]:
print(order_train.shape)

(1384617, 4)

In [0]:
print(order_prior.shape)

(32434489, 4)

In [0]:
order_products=pd.concat([order_train,order_prior])
print(order_products.shape)

(33819106, 4)

In [0]:
order_products = order_products[['add_to_cart_order','product_id']]
print(order_products.shape)
order_products.head()

(33819106, 2)

   add_to_cart_order  product_id
0                  1       49302
1                  2       11109
2                  3       10246
3                  4       49683
4                  5       43633

In [0]:
products = products[['product_name','product_id']]
print(products.shape)
products.head()

(49688, 2)

                                        product_name  product_id
0                         Chocolate Sandwich Cookies           1
1                                   All-Seasons Salt           2
2               Robust Golden Unsweetened Oolong Tea           3
3  Smart Ones Classic Favorites Mini Rigatoni Wit...           4
4                          Green Chile Anytime Sauce           5

In [0]:
order_products=order_products.sort_values(by='product_id',ascending=False)
print(order_products.shape)

(33819106, 2)

In [0]:
order_products=order_products.groupby(order_products['product_id']).agg(
    {'add_to_cart_order':'sum'}).reset_index()
print(order_products.shape)

(49685, 2)

In [0]:
order_products=order_products.sort_values(by='add_to_cart_order',ascending=False).head(20)
top_twenty_orders.reset_index()

    index  product_id  add_to_cart_order
0   24849       24852            2405664
1   13173       13176            2007396
2   21134       21137            2005999
3   21900       21903            1870623
4   47205       47209            1497887
5   47622       47626            1279007
6   26206       26209            1261016
7   47762       47766            1187054
8   16794       16797            1065577
9   27963       27966            1031044
10  22932       22935            1004141
11  24961       24964            1001654
12  45004       45007             986367
13  39272       39275             862073
14  40703       40706             834206
15  27842       27845             777566
16  49679       49683             763565
17   5874        5876             736962
18  30388       30391             733572
19   4918        4920             712691

In [0]:
top_twenty_orders=order_products[['product_id','add_to_cart_order']].

In [0]:
top_twenty_orders['product_id'].value_counts()

4920     1
27966    1
40706    1
24964    1
27845    1
30391    1
47209    1
47626    1
39275    1
21903    1
45007    1
21137    1
5876     1
49683    1
24852    1
47766    1
22935    1
13176    1
16797    1
26209    1
Name: product_id, dtype: int64

In [0]:
condition=products['product_id'].isin(top_twenty_orders['product_id'])
condition

0        False
1        False
2        False
3        False
4        False
         ...
49683    False
49684    False
49685    False
49686    False
49687    False
Name: product_id, Length: 49688, dtype: bool

In [0]:
top_twenty_final = products[condition]
top_twenty_final

                 product_name  product_id
4919      Seedless Red Grapes        4920
5875            Organic Lemon        5876
13175  Bag of Organic Bananas       13176
16796            Strawberries       16797
21136    Organic Strawberries       21137
21902    Organic Baby Spinach       21903
22934    Organic Yellow Onion       22935
24851                  Banana       24852
24963          Organic Garlic       24964
26208                   Limes       26209
27844      Organic Whole Milk       27845
27965     Organic Raspberries       27966
30390        Organic Cucumber       30391
39274     Organic Blueberries       39275
40705  Organic Grape Tomatoes       40706
45006        Organic Zucchini       45007
47208    Organic Hass Avocado       47209
47625             Large Lemon       47626
47765         Organic Avocado       47766
49682          Cucumber Kirby       49683

In [0]:
top_twenty_plus_counts= pd.merge(top_twenty_orders,top_twenty_final)

In [0]:
top_twenty_plus_counts.columns = [column.replace('_',' ')for column in top_twenty_plus_counts]

In [0]:
top_twenty_plus_counts

    product id  add to cart order            product name
0        24852            2405664                  Banana
1        13176            2007396  Bag of Organic Bananas
2        21137            2005999    Organic Strawberries
3        21903            1870623    Organic Baby Spinach
4        47209            1497887    Organic Hass Avocado
5        47626            1279007             Large Lemon
6        26209            1261016                   Limes
7        47766            1187054         Organic Avocado
8        16797            1065577            Strawberries
9        27966            1031044     Organic Raspberries
10       22935            1004141    Organic Yellow Onion
11       24964            1001654          Organic Garlic
12       45007             986367        Organic Zucchini
13       39275             862073     Organic Blueberries
14       40706             834206  Organic Grape Tomatoes
15       27845             777566      Organic Whole Milk
16       49683             763565          Cucumber Kirby
17        5876             736962           Organic Lemon
18       30391             733572        Organic Cucumber
19        4920             712691     Seedless Red Grapes

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [6]:
# table2 -> tidy
table2 = table2.reset_index()
tidy2=table2.melt(id_vars='index',value_vars=['John Smith','Jane Doe','Mary Johnson'])
tidy2 = tidy2.rename(columns={
    'index':'Treatment',
    'variable':'Name',
    'value':'Result'
})
tidy2

    Treatment          Name  Result
0  treatmenta    John Smith     NaN
1  treatmentb    John Smith     2.0
2  treatmenta      Jane Doe    16.0
3  treatmentb      Jane Doe    11.0
4  treatmenta  Mary Johnson     3.0
5  treatmentb  Mary Johnson     1.0

In [17]:
# tidy -> table2
table2 = tidy2.pivot_table(index='Treatment',columns='Name',
                           values ='Result')
table2

Name        Jane Doe  John Smith  Mary Johnson
Treatment
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [22]:
flights = sns.load_dataset('flights')
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [23]:
# Flights Pivot Table
passengers = flights.pivot_table(index='year',columns='month',values='passengers')
passengers

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####